/* Empty. Add your own CSS if you like */

.item {
  padding: 0px;
}

.status {
  padding: 2em 0em;
  width: .5em;
  display: inline;
  float: left;
  height: 6em;
  background-color: gray;
}

.ticket-body {
  padding: 0px;
}

.prod-img {
  width: 3.8em;
  height: 100%;
  max-height: 5em;
  vertical-align: center;
  padding: 0px;
  margin: 0.5em 0em;
}

img {
  margin-top: 5px;
  height: 20px;
}

.scroll-content {
  text-align: center;
}

.square {
  height: 45vw;
  width: 45vw;
  border: 1px solid;
  line-height: 15px;
  font-size: 14px;
}

.dubsquare {
  width: 90vw;
}

.schedule {
  margin-bottom: 20px;
}

.center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}


/* Empty. Add your own CSS if you like */

.heading-text {
  text-align: center;
  color: blue;
}

.heading-date {
  text-align: center;
}

.headings {
  background-color: #E6E6E6;
}

.sub-heading {
  text-align: center;
}

.avatar {
  width: 75px;
  border-radius: 50%;
}

.tech-image {
  text-align: center;
}

h2 {
  color: blue;
}

.reviews {
  float: right;
}

.tech-image-review {
  float: left;
  width: 100px;
}

.tech-name {
  float: left;
  width: 200px;
}

.posted {
  float: left;
  width: 100px;
}

.tech-info {
  width: 400px;
}

.tech-review {
  text-align: center;
  clear: left;
}

#remoteVideos video {
  height: 150px;
}

#localVideo {
  height: 150px;
}
