<ion-view view-title="home">
	<ion-header-bar align-title="center">
		<button class="button-home button-icon icon ion-navicon"></button>
		<div class="logo title">
			<img ng-src="../img/sears-blue.png">
		</div>
	</ion-header-bar>
	<ion-tabs class="tabs-light tabs-striped tabs-top">
		<!-- Tab 1 content -->
		<ion-tab title="SHOP">
		</ion-tab>
		<ion-tab title="HOME SERVICES">
		</ion-tab>
	</ion-tabs>
	<ion-content padding="true" has-header="true" class="center">
		<div>
			<p>Bringing home services to your fingertips</p>
		</div>

		<button class="button-schedule button button-positive dubsquare">
			SCHEDULE A SERVICE
		</button>
		<div class="row">
			<button class="button-icon icon ion-ios-gear-outline square button-light">
				<h5>PRODUCT REPAIR</h5>
			</button>

			<button class="button-icon icon ion-ios-home-outline square button-light">
				<h5>HOME IMPROVEMENT</h5>
			</button>

		</div>
		<div class="button-bar row">
			<button class="button-icon icon ion-ios-trash-outline square button-light">
				<h5>DIY</h5>
			</button>

			<button class="button-icon icon ion-ios-loop square button-light">
				<h5>INSTALLATION</h5>
			</button>
		</div>
	</ion-content>
</ion-view>

<!-- <div class="buttons">
		<button class="butto∫n-circle">
			<button class="button-repair button-icon ion-settings">Repair
			</button>
		</button>
  </div> -->
