/* Empty. Add your own CSS if you like */

.heading-text {
	text-align: center;
	color: blue;
}
.heading-date {
	text-align: center;
}
.headings {
	background-color: #E6E6E6;
}
.sub-heading {
	text-align: center;
}
.avatar {
	width: 75px;
	border-radius: 50%;
}

.tech-image {
	text-align: center;
}

h2 {
	color: blue;
}

.reviews {
	float: right;
}
