<!DOCTYPE html>
<ion-view name="event">
  <ion-header-bar class="bar-light">
    <a href="#/home" class="button icon ion-arrow-left-c"></a>
    <h4 style="margin: 0 auto; margin-top: 0.5em">
      SUBMIT AN ISSUE
    </h4>
  </ion-header-bar>
  <ion-content>

    <div class="prod-search">
      <div class="prod-search-inner">
        <!-- <label class="item item-input item-floating-label"> -->

        <button class="button button-full button-positive" href="#">
          Scan Your Item
          <img style="height:30px" src="img/barcode.png" class="icon" />
        </button>
        <!-- </label> -->
      </div>
    </div>

    <ion-list>

      <label class="item-input">
        <div class="input-label">TYPE</div>
        <!-- <input type="text" placeholder="Front Load"> -->
        <select class="options item-select" ng-model="test" ng-options="type for type in types" ng-change="changeType(test)" item="type">

        </select>
      </label>

      <label class="item-input ">
        <span class="input-label">BRAND</span>
        <select class="options">
          <option ng-repeat="brand in brands">
            {{brand}}
          </option>
        </select>
      </label>

      <label class="item-input item-select">
        <span class="input-label">WARRANTY STATUS</span>
        <!-- <input type="text" placeholder="john@suhr.com"> -->
        <select class="options">
          <option ng-repeat="w in warrantys">
            {{w}}
          </option>
        </select>
      </label>

      <label class="item-input">
        <span class="input-label">NATURE OF PROBLEM</span>
        <!-- <input type="text" placeholder="Some Bullshit"> -->
        <select class="options">
          <option ng-repeat="problem in problems">
            {{problem}}
          </option>
        </select>
      </label>
    </ion-list>


    <a class="orange button button-medium" ng-href="#/video" type="button" name="checkcal">Chat with Technician</a>

    <a class="orange button button-medium" ng-href="#/schedule" type="button" name="checkcal">Schedule Appointment</a>

    <a class="orange button button-medium" ng-href="#/rating" type="button" name="checkcal">Rate Your Technicain</a>

  </ion-content>
</ion-view>
