<ion-view name="Rating">
  <ion-header-bar>
    <a ng-href="#/home" class="pull-right button button-icon icon ion-ios-checkmark-empty"></a>
  </ion-header-bar>
  <ion-content>
    <div class="headings">
      <h3 class="heading-text" style="color: #003399; padding: 1em 0">
        Rate Your Tech
      </h3>
    </div>
      <div class="tech-image" style="display: inline">
        <h2 style="color: #003399">Louis</h2>
      </div>
      <rating ng-model="rate" max="max"></rating>
      <button ng-click="shareAnywhere()" style="margin: 1em 0em" class="button-schedule button orange dubsquare">
  			<h4 style="color: #fff">Submit and Share!</h4>
  		</button>
  </ion-content>
</ion-view>
