<ion-view name="event">
  <!-- <ion-header-bar class="bar-light">
    <a href="#/schedule" class="button icon ion-arrow-left-b"></a>
    <img id="logo-img" src="./img/logo.png" alt="Univision" href="#/schedule" />
  </ion-header-bar> -->
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="ticket in tickets" class="item">
        <div class="ticket-body" ng-style="">

          <div class="status" ng-style="{'background-color' : color_stat(ticket)}">
              <!-- the status gets listed here via color -->
          </div>

          <img class="prod-img" src="{{ticket.img}}" alt="" />
          <button ng-click='test()'>Run!</button>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
