<ion-view name="video" view-title="Video Customer">
  <ion-header-bar class="bar-light">
    <button href="#/tickets" class="button button-positive ion-arrow-left-b"></button>

    <h1 class="title">Realtime Support</h1>
  </ion-header-bar>
  <ion-content>
    <video id="localVideo"></video>

    <div id="remoteVideo"></div>
<!--
    <label class="item-select item-input">
      <span class="input-label">Video</span>
      <select class="options">
        <option ng-repeat="vd in videoDevices" >
          {{vd.id}}
        </option>
      </select>
    </label>

    <button class="button button-positive" name="button" ng-click="startRTC(selectedVideoDevice)"></button> -->


  </ion-content>
</ion-view>
